.cards-container {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #6e00cc;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.add-card-btn {
  right: 150px;
}

.card-btn:hover {
  background-color: #555;
}

.password-card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  position: relative;
}

.website-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.credentials p {
  margin: 0;
}
.website-url {
  position: absolute;
  left: 70px;
  top: 60px;
  color: #555;
  font-size: 0.8em;
  text-decoration: none;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  gap: 7px;
}

.icon {
  width: 20px;
  cursor: pointer;
}

.dots-icon {
  color: #2c3e50;
}

.delete-icon {
  color: #e74c3c;
}

.icon-btn {
  background: none;
  border: none;
}
