.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #6e00cc;
  font-style: italic;
}

form {
  text-align: center;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f5f5f5;
  width: 80%;
  max-width: 400px;
}

.input-group {
  margin-bottom: 10px;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  color: #6e00cc;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.small-desc {
  display: block;
  color: #555;
  text-align: left;
}

.small-text {
  text-decoration: underline;
  color: #6e00cc;
}
