.edit-form-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); 
  z-index: 1000; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-form-container form {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
}

.password-info{
  font-size: 15px;
  text-align: left;
  color: #555;
}

.update-btn {
  background-color: rgb(223, 223, 39);
  color: black;
}

.update-btn:hover {
  background-color: red;
  color: white;
}

.cancel-btn{
  background-color: #555;
  color: white;
}

.cancel-btn:hover{
  background-color: green;
  color: white;
}

